/* Estilos customizados para o carrossel de categorias */
.slick-dots {
  bottom: -45px;
}

.slick-dots li button:before {
  font-size: 8px;
  color: #3b82f6;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: #3b82f6;
  opacity: 1;
}

.slick-slide > div {
  margin: 0 auto;
}

/* Padronizar tamanho dos cards do carrossel */
.slick-slide button {
  height: 100px;
  width: 100% !important;
  box-sizing: border-box;
  display: flex !important;
  align-items: center;
  overflow: hidden;
}
